*
{
    margin: 0;
    padding: 0;
}

header
{
    background-image: url(pic1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center

}
.main_nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main_nav li
{
    display: inline-block;
}

.main_nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}